.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  color: darkgrey;
  font-weight: bold;
  font-size: 14px;
}

.ME {
  border: 1px solid skyblue;
}

.AI {
  border: 1px solid goldenrod;
}
