@import "variables";

.chatMessage {
  background-color: var(--bg-secondary-color);
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  max-width: 90%;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 0.9em;
  color: #666;
  align-items: center;
  gap: 6px;
}

.badgeContainer {
  display: inline-flex;
  gap: 9px;
}

.timestamp {
  font-style: italic;
}

.messageContent {
  line-height: 1.4;
}

.message-from-ai {
  align-self: flex-start;
}

.message-from-me {
  align-self: flex-end;
}

/* Style markdown elements */
.messageContent p {
  margin: 0 0 10px 0;
}

.messageContent a {
  color: #0066cc;
  text-decoration: none;
}

.messageContent a:hover {
  text-decoration: underline;
}

.messageContent code {
  border-radius: 4px;
  font-family: monospace;
}

.messageContent pre {
  border-radius: 4px;
  overflow-x: auto;
}

.messageContent table {
  border-collapse: collapse;

  th,
  td {
    border: 1px solid grey;
  }
}

.pillsContainer {
  display: inline-flex;
  gap: 9px;
}